<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="/favicon.ico" >
  <title><%= title %></title>
  <script src="https://store.ims.ice.cyut.edu.tw/javascript/jquery-3.4.1.js"></script>
  <script src="https://store.ims.ice.cyut.edu.tw/javascript/popper.min.js"></script>
  <script src="https://store.ims.ice.cyut.edu.tw/javascript/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://store.ims.ice.cyut.edu.tw/css/bootstrap.min.css">

  <script src="https://store.ims.ice.cyut.edu.tw/javascript/dash.all.min.js"></script>
  <script src="https://store.ims.ice.cyut.edu.tw/javascript/video.js"></script>
  <script src="https://store.ims.ice.cyut.edu.tw/javascript/videojs-dash.min.js"></script>
  <script src="https://store.ims.ice.cyut.edu.tw/javascript/bootstrap-filestyle.min.js"></script>
  <link rel="stylesheet" href="https://store.ims.ice.cyut.edu.tw/css/video-js-cdn.min.css">
  
  <style>
    H1 {
      font-weight: bold;
      text-align :center;
      height:100px;
      
      font-size: 80px;
      background:rgb(177, 214, 177);
      }
    button{
      
      height:50px;
    
    }
    div.sig{
      float: right ;
      margin:auto;
      width:auto;
      height: 0px;
      }
    a{
      font-size: 30px;
    }
    
    body{
      background-color: lightgreen;
      background-image: url("D:\room(test\url\朝陽.png");
    }
    </style>
</head>

<body>
  <div class=sig>
    <a href="/users/signin">登入</a>
    <a href="/users/signup">註冊</a>
   
  </div>

  <h1>直播平台</h1>
    <!-- 取得現有房間並建立連結-->
    <% for (var key in list) {%>
      <button type="button" class="btn btn-primary" onclick="location.href='room?id=<%= key %>'">進入<%= key %></button>
      </br>
    <% }%>
    
  
</body>


</html>
