<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="/favicon.ico" >
    <title>直播o_ob(賣</title>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/jquery-3.4.1.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/popper.min.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://store.ims.ice.cyut.edu.tw/css/bootstrap.min.css">
  
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/dash.all.min.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/video.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/videojs-dash.min.js"></script>
    <script src="https://store.ims.ice.cyut.edu.tw/javascript/bootstrap-filestyle.min.js"></script>
    <link rel="stylesheet" href="https://store.ims.ice.cyut.edu.tw/css/video-js-cdn.min.css">
    <style>
      a{
        float:right;
        font-size: 18px;
      }
      H1{
        font-size: 80px;
        background:lightblue;
        font-weight: bold;
        height:100px;  
      }
      H2{
        font-size:30px;
      }
      div{
        font-size: 30px;
        
      }
      button{
        font-size: 25px;
      }
      body{
        background-color: lightgreen;
    }
    </style>
  </head>

<body>
  <a href="/users/logout">登出</a>
  
  <h1 align=center>直播平台</h1>
  <% include header %>
  
  <div>用戶名: <%= user %></div>
  </br>
  <h2>房間列表</h1>
  <!-- 取得現有房間並建立連結-->
 

  </br>
  <input type="text" name="roomname" id="roomname" placeholder="標題" > <br>
  <input type="text" name="class" id="class" placeholder="類別"><br>
  <button id="create" type="button" class="btn btn-primary">建立房間</button>
</body>
<script>

  //使用web api傳遞建立房間資訊
  $("#create").click(function() {
    $.ajax({
      url: '../room',
      type: 'POST',
      dataType: 'json',
      //請根據需求新增資料，如：房品名稱
      data: {
        roomname: $('#roomname').val(), //房名   
        rtmp01: "https://vm214.ims.ice.cyut.edu.tw/dash/",
        rtmp02: ".mpd",
        
      },
      success: function(data) {
        //根據後端傳送回來的房間id進行轉跳

        window.location.assign("../room?id=" + data.msg);
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        alert(JSON.parse(XMLHttpRequest.responseText).msg);
      }
    })
  });
</script>

</html>
